/* line 1, ../../sass/slider/slider.scss */
h1 {
  background-color: #04E80C;
}

/* line 4, ../../sass/slider/slider.scss */
body > header > div {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 30%;
  overflow: hidden;
}

/* line 11, ../../sass/slider/slider.scss */
body > header > p {
  position: absolute;
  background: #ffffff;
  bottom: 30%;
  text-align: center;
  line-height: 2em;
}

/* line 18, ../../sass/slider/slider.scss */
h1 {
  position: absolute;
  text-align: center;
  bottom: 50%;
}

/* line 23, ../../sass/slider/slider.scss */
body > header .language {
  position: relative;
  height: 70%;
  opacity: 0;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

/* line 30, ../../sass/slider/slider.scss */
body > header .php {
  animation-name: php;
  top: 115%;
}

/* line 34, ../../sass/slider/slider.scss */
body > header .java {
  animation-name: java;
  top: 215%;
}

/* line 39, ../../sass/slider/slider.scss */
body > header .android {
  animation-name: android;
  top: 315%;
}

/* line 44, ../../sass/slider/slider.scss */
body > header .js {
  animation-name: js;
  top: 415%;
}

/* line 49, ../../sass/slider/slider.scss */
body > header .html {
  animation-name: html;
  top: 515%;
}
